/* Default for title */
title {
    font-size: 48px;
    color: #F1C40F;
}

p1 {
    font-size: 32px;
    color: #7D3C98;
}

p2 {
    font-size: 36px;
    color: #A93226;
}

p3 {
    font-size: 24px;
    color: #3F7CF6;
}

p4 {
    font-size: 56px;
    color: #3FF652;
}

.ending {
    font-weight: bold;
}